.app-footer {
  .footer_container {
    background-color: $tertiary-varient;
    color: $secondary;
    margin-top: 2em;
    padding: 1em 1em 6em;

    .pages {
      h2 {
        margin: 0;
        font-size: 18px;
        text-transform: uppercase;
        background-color: $primary;
        width: fit-content;
        margin-bottom: 6px;
        padding: 0 10px;
      }

      p {
        cursor: pointer;
        margin: 0;
        margin-bottom: 4px;
        margin-left: 10px;
      }
    }

    p {
      margin: 2em 0 0;
    }
  }
}