.app-footer {
    .footer_container {
        background-color: #f5f5f5;
        color: $theme-black;
        margin-top: 2em;
        padding: 1em;

        p {
            margin: 0;
        }
    }
}