.app-footer {
    .footer_container {
        background-color: $tertiary-varient;
        color: $secondary;
        margin-top: 2em;
        padding: 1em;

        p {
            margin: 0;
        }
    }
}