.app-news-item {
  .news_item {
    span {
      display: flex;
      flex-direction: row;
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: 1em;
      padding: 1em;
      transition: 1s;

      img {
        flex: 1;
        background-image: url('src/assets/default.png');
        background-size: 100%;
        background-position: center;
        max-width: 150px;
        width: 100%;
        height: 100px;
        object-fit: cover;
        border-radius: 8px;
        filter: drop-shadow(0px 6px 6px $shadow);
        margin: 0;
        margin-top: 5px;
        margin-bottom: 0;
        transition: 0.2s;

        &::before {
          content: 'image loading';
          background-image: url('src/assets/default.png');
        }
      }

      .content_holder {
        margin-left: 1em;
        flex: 2;
        width: 100%;
        display: flex;
        flex-direction: column;
        color: $secondary;

        .content {
          margin: 0;
        }

        .bottom_section {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          // justify-content: space-between;
          font-weight: bold;
          align-items: center;
          align-content: center;
          margin: 0;
          padding: 0;
          transition: 0.2s;
          justify-content: space-between;
          background-color: transparent;
          color: $secondary;
          margin-top: 10px;

          .source {
            margin: 4px 0;
            text-transform: uppercase;
            background-color: $primary;
            color: $secondary;
            padding: 0 3px;
          }

          .publish_date {
            margin: 0;
            font-size: 12px;
          }
        }
      }

      &:hover {
        cursor: pointer;
        background-color: $tertiary-varient; // background: linear-gradient(to bottom right, white, red);
        color: $secondary;

        img {
          margin: 0;
          margin-bottom: 5px;
        }

        .content_holder {
          .bottom_section {
            margin-top: 15px;
            background: none;
          }
        }
      }
    }

    .bottom-border {
      width: 92%;
      margin: auto;
      padding: 0;
      border-bottom: 1px solid $shadow;
    }
  }
}