<div class="landing_container">

  <!-- welcome container -->
  <div class="welcome_section">
    <h1>Welcome to {{appName}}</h1>
    <button (click)="gotoFeed()">Goto Feed</button>
  </div>

  <!-- features container -->
  <div class="features_container">
    <div class="feature" *ngFor="let feature of featureList">
      <i class="{{feature.iconType}} fa-{{feature.icon}}"></i>
      <span>
        <h2>{{feature.feature}}</h2>
        <p>{{feature.description}}</p>
      </span>
    </div>
  </div>

  <!-- About Section -->
  <div class="about_container">
    <img src="assets/AV_developer.jpeg" alt="AV_profile">
    <h1>{{developerName}}</h1>
    <p>{{designation}}</p>

    <div class="social_media">
        <span class="social_media_icon" *ngFor="let icon of sociaIcons" (click)="gotoSocialLink(icon)">
            <i class="fab fa-{{icon.svgIcon}}" draggable="false" title="AV's {{icon.name}}"></i>
        </span>
      </div>
  </div>

</div>
