.app-landing {
  .landing_container {
    .welcome_section {
      width: 100%;
      // justify-content: center;
      display: flex;
      flex-direction: column;
      background-color: $primary;
      height: 30em;

      h1 {
        color: $secondary;
        text-align: center;
        font-size: 2em;
        font-weight: bold;
        margin-top: 5em;
      }

      button {
        width: 10em;
        margin: 0 auto;
        background: $secondary;
        color: $primary;
        border: 0;
        padding: 12px;
        border-radius: 2em;
        cursor: pointer;
        font-weight: bold;
        text-transform: uppercase;

        &:hover {
          background-color: $secondary-varient;
          // color: $secondary;
        }
      }
    }

    .features_container {
      background-color: $tertiary;
      width: 90%;
      margin: -4em auto 0;
      filter: drop-shadow(0 2px 4px $shadow);
      padding: 0.5em 1em;
      height: fit-content;
      display: flex;
      flex-direction: column;

      .feature {
        display: flex;
        flex-direction: row;
        margin: 0 1em;
        padding: 1em 0;
        border-bottom: 1px solid $shadow;
        color: $shadow-varient;
        width: 100%;

        &:last-child {
          border-bottom: 0;
        }

        svg {
          font-size: 2em;
          color: $secondary;
          margin-right: 24px;
          color: $secondary-varient;
          // color: $shadow-varient;
        }

        span {
          display: flex;
          flex-direction: column;

          h2 {
            font-size: 20px;
            margin: 0;
            margin-bottom: 2px;
            text-transform: uppercase;
            color: $secondary-varient;
          }

          p {
            font-size: 14px;
            margin: 0;
          }
        }
      }

      @media screen and (min-width: $desktop-view) {
        display: flex;
        flex-direction: row;
        align-items: center;

        .feature {
          display: flex;
          flex-direction: column;
          border-bottom: 0;
          align-items: center;

          svg {
            margin: 0;
          }

          span {
            h2 {
              text-align: center;
            }
            p {
              text-align: center;
            }
          }
        }
      }
    }

    .about_container {
      color: $secondary;
      margin-top: 2em;
      padding: 1em;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 12em;
        height: auto;
        border-radius: 6em;
        margin-bottom: 1em;
        
      }

      h1 {
        font-size: 2em;
        font-weight: 400;
        margin: 0;
      }

      p {
        text-transform: uppercase;
        margin: 0;
        background-color: $primary;
        padding: 2px 6px;
        font-weight: bold;
      }

      .social_media {
        margin-top: 2em;
        width: 14em;
        display: flex;
        justify-content: space-around;

        .social_media_icon {
            svg {
              padding-right: 6px;
              width: 30px;
              height: 30px;
              font-size: 2em;
              color: $secondary;
              cursor: pointer;
            }
          }
      }
    }
  }
}