.app-nav {

  .nav_menu {
    display: flex;
    flex-direction: column;
    top: 0;
    position: fixed;
    z-index: 10;
    width: 100%;

    .nav_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: white;
      opacity: 0.95;

      i{
        margin: 1em;
        cursor: pointer;
      }
      span {
        display: flex;
        margin: 1em;
        user-select: none;

        img {
          width: 30px;
          height: 30px;
        }
        p{
          font-size: 3em;
          margin: 0;
          line-height: 16px;
        }
      }
    }
  }
}
