.app-nav {

  .nav_menu {
    display: flex;
    flex-direction: column;
    top: 0;
    position: fixed;
    z-index: 10;
    width: 100%;

    .nav_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: white;
      opacity: 0.95;

      i{
        margin: 1em;
        cursor: pointer;
      }
      span {
        display: flex;
        margin: 1em;
        user-select: none;

        img {
          width: 30px;
          height: 30px;
        }
        p{
          font-size: 3em;
          margin: 0;
          line-height: 16px;
        }
      }
    }

    .menu {
      background-color: white;
      opacity: 0.95;
      padding: 1em 2em;

      .highlight{
        width: fit-content;
        background-color: yellow;
      }

      .search {
        display: flex;
        input {
          width: 100%;
          border: 1px solid black;
          padding: 1em;
          font-style: italic;
          background-color: white;
        }
        button {
          border: 1px solid yellow;
          background-color: yellow;
          padding: 1em;
        }
      }

      .divider {
        display: flex;
        align-items: center;
        margin: 1em 0;

        hr {
          margin: 0;
          width: 100%;
          background-color: #8c8c8c;
          height: 1px;
          border: 0;
        }
        p {
          margin: 1em;
        }

      }

      select {
        background-color: white;
        padding: 6px;
        flex: 1;
        width: 100%;
        margin: 0;
        border: 0;
        border-bottom: 1px solid black;
      }
    }
  }
}
