<div class="nav_menu">
  <div class="nav_container">
    <i class="material-icons" (click)="openMenu()">notes</i>
    <span>
      <img draggable="false" src="assets/newspaper.svg">
      <p>.</p>
    </span>
    <i class="material-icons" (click)="openFilter()">filter_list</i>
  </div>

  <div class="menu" *ngIf="filterToggle">

    <div class="search">
        <input placeholder="Search here">
        <button>
          <i class="material-icons">search</i>
        </button>
    </div>

    <div class="divider">
      <hr>
      <p>OR</p>
      <hr>

    </div>

    <p class="highlight">Select Country</p>
    <select (change)="setCountry($event)">
      <option *ngFor="let item of sourceCountries" [(value)]="item.code">{{item.name}}</option>
    </select>

    <p class="highlight">Select News Source</p>
    <select (change)="setSource($event)">
        <option *ngFor="let item of sourceListByCountry" [(value)]="item.id">{{item.name}}</option>
      </select>
  </div>

  <div class="menu" *ngIf="menuToggle">
    <p><strong>This project is currently in progress!</strong></p>

    <p style="width: fit-content; background-color: yellow">Hey Viewer,</p>
    <p style="width: fit-content; background-color: yellow">This is my garage project which aims to serve news to the audience with a minimal design.</p>
    <p>This is a <strong>mobile first design</strong> currently, so for best experience switch to mobile.</p>
    <div class="about_dev">
      <img draggable="false" src="assets/AV_developer.jpeg">
      <div class="name_section">
        <p class="name">Abhishek Verma</p>
        <p class="designation">Front-end Developer</p>
        <div class="social_media">
          <img *ngFor="let icon of sociaIcons" src="{{icon.location}}" (click)="gotoSocialLink(icon)" draggable="false" title="AV's {{icon.name}}">
        </div>
      </div>
    </div>
  </div>
</div>
