.app-feed {
  .load_container {
    width: 100%;
    margin-top: 16em;
    display: flex;
    flex-direction: column;

    img {
      margin: auto;
      width: 100px;
      height: 100px;
    }

    p {
      font-weight: 500;
      color: $secondary;
      text-transform: uppercase;
      margin: auto;
      width: fit-content;
      margin-top: 1em;
      text-align: center;
    }
  }

  .news_item_container {
    padding: 0;
    display: flex;
    flex-direction: column;

    .content_type_header {
      // font-family: 'Crete Round', serif;
      font-size: 2em;
      padding: 3em 0 12em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $primary;
      color: $secondary;

      .content_container {
        width: 30em;
        margin: auto;
        display: flex;
        justify-content: space-between;

        .heading_container {
          .country {
            margin: 0;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: bold;
            color: #707070;
          }
          span {
            display: flex;
            align-items: center;
            margin-top: 36px;
            font-weight: bold;
            i {
              font-size: 36px;
            }
            p {
              margin: 0;
              margin-left: 16px;
              text-transform: uppercase;
            }
          }
        }
        .menu_container {
          i {}
        }
      }
    }

    .news_item_holder {
      width: 96%;
      color: $secondary;
      filter: drop-shadow(0 2px 4px $shadow);
      border-radius: 6px;
      left: 0;
      right: 0;
      margin: -16em auto 1em auto;
      overflow: hidden;
      max-width: 64em;

      app-news-item {
        &:last-child {
          .news_item {
            .bottom-border {
              border: 0;
            }
          }
        }
      }

      @media screen and (min-width: $desktop-view) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    .bottom_navigation {
      display: flex;
      flex-direction: row;
      padding: 0 2em;
      background-color: $primary;
      color: $secondary;
      border-radius: 6px;
      justify-content: space-between;
      width: 58em;
      margin: 1em auto;

      span {
        display: flex;
        justify-content: space-between;

        button {
          background-color: $primary;
          color: $secondary;
          padding: 4px 10px;
          border-radius: 10px;
          align-items: center;
          display: flex;
          border: 0;
          filter: drop-shadow(0 2px 4px $shadow);
          width: 8em;
          justify-content: center;
        }

        p {
          text-align: center;
        }

        select {
          border-radius: 6px;
          padding: 5px;
          border: 1px solid $shadow;
          width: 5em;
          background-color: $tertiary;
        }
      }
    }
  }
}
