<div class="load_container" *ngIf="!showNews">
  <img src="assets/loader.gif" alt="infinite_loader">
  <p id="load_text">Loading news</p>
</div>

<div class="news_item_container" *ngIf="showNews">
  <div class="content_type_header">
    <p class="content_text">Everything</p>
    @
    <p class="content_text">{{country}}</p>
    <p class="source_text" *ngIf="sourceName !== ''">{{sourceName}}</p>
  </div>

  <div class="news_item_holder">
    <app-news-item *ngFor="let post of posts; let i=index" [data]="post"></app-news-item>
  </div>

  <div class="bottom_navigation">
    <span>
      <p>News per Page:</p>
      <!-- <select (change)="setCountry($event)" [(value)]="country">
        <option *ngFor="let item of sourceCountries" [(value)]="item.code">{{item.name}}</option>
      </select> -->
    </span>
    <span>
      <select (change)="showNewsAccordingToSelectedPage($event)">
        <option *ngFor="let pageNumber of paginationList" value="Page {{selectedPage}}">Page {{pageNumber}}</option>
      </select>
      of {{totalNumberOfNews}}
    </span>
  </div>
</div>

<!--
  Things to add:
  1. Pagination
  2. Page Size
-->
