<app-loader *ngIf="!showNews"></app-loader>

<div class="news_item_container" *ngIf="showNews">

  <div class="content_type_header">
    <div class="content_container">
      <div class="heading_container">
        <p class="country">India</p>
        <span>
          <i class="material-icons">line_style</i>
          <p>{{headingTextToShow}}</p>
        </span>
      </div>
      <div class="menu_container">
        <!-- <i class="material-icons">menu</i> -->
      </div>
    </div>
  </div>

  <div class="news_item_holder">
    <app-news-item *ngFor="let post of posts; let i=index" [data]="post" [miniCard]="getMiniCardStatus(i)"></app-news-item>
  </div>

  <div class="bottom_navigation">
    <span>
      <p>
        News per Page:
        <select (change)="setNewsLimitPerPage($event)" [(value)]="currentNewsPerPage">
          <option *ngFor="let limit of newsPageSizeArray" value="{{limit}}">{{limit}}</option>
        </select>
      </p>
    </span>
    <span>
      <p>
        Page
        <select (change)="showNewsAccordingToSelectedPage($event)" [(value)]="selectedPage">
          <option *ngFor="let pageNumber of paginationList" value="{{pageNumber}}">{{pageNumber}}</option>
        </select>
        of {{paginationArray}}
      </p>
    </span>

  </div>
</div>
