@import "nav/nav.component";
@import "feed/feed.component";
@import "detail/detail.component";

.app_container {
  margin-top: 4.5em;
}

p::selection {
  background: yellow;
}

h1::selection {
  background:yellow;
}
