@import "nav/nav.component";
@import "feed/feed.component";
@import "detail/detail.component";
@import "common/carry-components/carry-component";
@import "./_theme/theme";

.app_container {
  margin-top: 70px;
}

p::selection {
  background: $primary-color;
}

h1::selection {
  background:$primary-color;
}

// .add_prompt {
//   display: none;
// }
