.app-root {

  .app_container {
    margin-top: 70px;
  }

  p::selection {
    background-color: $primary;
    color: $secondary;
  }

  h1::selection {
    background-color: $primary;
    color: $secondary;
  }

  h2::selection {
    background-color: $primary;
    color: $secondary;
  }
}

@import "nav/nav.component";
@import "feed/feed.component";
@import "detail/detail.component";
@import "common/carry-components/carry-component";
@import "./landing/landing.component";
@import "./footer/footer.component";
@import "./bottom-menu/bottom-menu.component";
@import "./search/search.component";
