.app-detail {
  .detail_container {
    margin-bottom: 6em;

    .back_button {
      margin-top: 1em;
      margin-left: 1em;
      transition: 0.2s;
      cursor: pointer;
      color: $secondary;

      &:hover {
        margin-left: 0.8em;
      }
    }

    .news_detail {
      margin: 1em;
      color: $secondary;
      h1 {
        font-size: 1.6em;
      }
      img {
        width: 100%;
        height: auto;
      }
      .author_section {
        display: flex;
        width: 100%;
        align-items: center;
        .author {
          width: 100%;
          height: fit-content;
          .name {
            margin-top: 0;
            margin-bottom: 0;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 12px;
          }
          .company {
            margin: 0;
            text-transform: uppercase;
            font-size: 10px;
          }
        }
        .company_link {
          button {
            display: flex;
            padding: 6px;
            margin: 0;
            border: 0;
            background: $primary;
            border-radius: 50%;
            filter: drop-shadow(0 4px 4px $shadow);
            transition: 0.4s;
            cursor: pointer;

            &:hover {
              filter: drop-shadow(0 2px 2px $shadow);
            }
          }
        }

      }
      p {
        font-size: 1em;
      }
    }

    .goto_source_button {
      position: relative;
      width: 100%;
      display: flex;
      bottom: 0;
      justify-content: center;

      button {
        cursor: pointer;
        border: 0;
        padding: 1em;
        border-radius: 2em;
        min-width: 18em;
        background-color: $primary;
        color: $secondary;
        filter: drop-shadow(0px 4px 6px $shadow);
        margin: 1em;
        transition: 0.4s;

        span {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 12px;
          display: flex;
          align-items: center;
          margin: auto;
          width: fit-content;
          font-weight: 800;
          i {
            font-size: 18px;
            margin-left: 4px;
            font-weight: 800;
          }
        }

        &:hover {
          filter: drop-shadow(0px 2px 2px $shadow);
        }
      }
    }

    .more_news {
      margin: 1em;
      background: $tertiary;
      filter: drop-shadow(0 2px 4px $shadow);
      border-radius: 6px;
      overflow: hidden;

      .read_more {
        margin: 0;
        padding: 16px 1em;
        font-size: 24px;
        background-color: $primary;
        color: $secondary;
      }
    }
  }
}
