.app-detail {

  .backdrop {
    background-color: $primary;
    height: 38em;
    width: 100%;
  }

  .detail_container {
    max-width: 60em;
    width: 100%;
    margin: -42em auto 6em;

    .back_to_feed_section {
      color: #707070;
      display: flex;
      flex-direction: row;
      margin-top: 7em;
      margin-bottom: 3em;
      margin-left: 1em;
      transition: 0.2s ease;

      .back_button {
        cursor: pointer;
        color: #707070;
      }

      p {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        margin: 4px 0 0 10px;
        cursor: pointer;
      }

      &:hover {
        margin-left: 0.8em;
      }
    }

    .news_detail {
      margin: 1em;
      color: $secondary;

      h1 {
        font-size: 2em;
        font-weight: bold;
      }

      .company {
        margin: 2em 0;
        text-transform: uppercase;
        font-size: 14px;
        color: #707070;
        font-weight: bold;
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 12px;
        user-select: none;
        filter: drop-shadow(0 6px 10px #cccccc);
      }

      .author_section {
        display: flex;
        width: 100%;
        align-items: center;
        margin-top: 3em;

        .author {
          width: 100%;
          height: fit-content;

          .head {
            margin-top: 0;
            margin-bottom: 0;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 12px;
            color: #707070;
          }

          .name {
            margin-top: 0;
            margin-bottom: 0;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 12px;
          }
        }

        .company_link {
          width: fit-content;
          align-items: center;

          button {
            display: flex;
            padding: 10px;
            margin: 0;
            border: 0;
            background: $primary;
            border-radius: 6em;
            filter: drop-shadow(0 4px 4px $shadow);
            transition: 0.4s;
            cursor: pointer;
            width: 14em;
            align-items: center;
            justify-content: center;

            i {
              font-size: 20px;
              margin-right: 12px;
            }

            p {
              margin: 0;
              font-weight: bold;
              text-transform: uppercase;
              font-weight: 800;
              font-size: 12px;
            }

            &:hover {
              filter: drop-shadow(0 2px 2px $shadow);
            }
          }
        }

      }

      p {
        font-size: 1em;
        margin: 3em 0;
      }
    }

    .more_news {
      margin: 1em;
      background: $tertiary;
      filter: drop-shadow(0 2px 4px $shadow);
      border-radius: 6px;
      overflow: hidden;

      .read_more {
        margin: 0;
        padding: 16px 1em;
        font-size: 24px;
        background-color: $primary;
        color: $secondary;
      }

      .card_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: center;
      }
    }
  }
}
