<div class="backdrop"></div>

<div class="detail_container">

  <div class="back_to_feed_section" (click)="goBack()">
      <i class="material-icons back_button" >arrow_back</i>
      <p>Back to feed</p>
  </div>

  <div class="news_detail">
    <h1>{{detail.title}}</h1>
    <p class="company">{{detail.source.name}}</p>
    <img src="{{detail.urlToImage === null ? 'assets/default.png' : detail.urlToImage}}" alt="detail_image">

    <div class="author_section">
      <div class="author">
        <p class="head">News presented by</p>
        <p class="name">{{detail.author}}</p>
      </div>

      <div class="company_link">
        <button (click)="gotoSource()">
          <i class="material-icons">open_in_new</i>
          <p>Goto Source</p>
        </button>
      </div>
    </div>

    <p>{{detail.description === '' ? 'Detail not provided by the source' : detail.description}}</p>
  </div>

  <div class="more_news" *ngIf="!inSearchMode">
    <p class="read_more">Read More</p>
    <div class="card_container">
      <app-news-item
        *ngFor="let news of moreNews"
        [data]="news"
        [miniCard]="true"
        [getClickEvent]="true"
        (catchClickEvent)="doIntentOnNewsClick($event)"
      ></app-news-item>
    </div>
  </div>
</div>
