/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import './assets/library/style/styleLib.scss';

body {
  background-color: $theme-white;
  // font-family: 'Playfair Display', serif;
  font-family: 'Karla', sans-serif;
  // font-family: 'Montserrat', sans-serif;
  margin: 0;
}

@import "./app/app.component";